* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
}

body .body-text {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    color: white;
    /* border: 1px solid black; */
}

body .body-text p {
    font-size: 18px;
}

body .body-text #long-text {
    text-align: justify;
    margin: 0 15rem;
    line-height: 1.5rem;
}

body .body-text span {
    font-style: italic;
}

body .pic-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

body .pic-container img {
    max-width: 350px;
    max-height: 350px;
    border-radius: 10px;
    transition: 0.25s;
}

body .pic-container img:hover {
    border: 2px solid white;
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }

    body .body-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;
        text-align: center;
        color: white;
        height: 100%;
        width: 100%;
        /* border: 1px solid black; */
    }

    body .body-text h3 {
        padding: 0 1rem;
    }

    body .body-text h1 {
        padding: 0 1rem;
    }

    body .body-text p {
        font-size: 18px;
    }
    
    body .body-text #long-text {
        text-align: justify;
        margin: 0 15rem;
        line-height: 1.5rem;
        height: auto;
        width: auto;
        margin: 0 0;
        padding: 2rem 2rem;
        /* border: 1px solid black; */
    }
    
    body .body-text span {
        font-style: italic;
    }
    
    body .pic-container {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    
    body .pic-container img {
        max-width: 350px;
        max-height: 350px;
        border-radius: 10px;
        transition: 0.25s;
    }
    
    body .pic-container img:hover {
        border: 2px solid white;
        transform: scale(1.1);
    }
}